.header {
    background-color: #096366;
    padding: 15px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  