.navbar {
  background-color: #096366;
  padding: 10px 30px;
  width: 100%;
  position: sticky;
  top: 70px; /* height of header */
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.theme-toggle,
.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
