
.navbar {
    background-color: var(--header-bg);
    color: var(--text-color);
    padding: 10px;
    position: sticky;
    top: 80px; 
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

.theme-toggle,
.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.navbar .nav-links li:last-child {
  margin-right: 0;
}